
#ring1 {
    border: 10px solid #0085c7;
    border-radius: 50%;
    border-width: 50%;
}

#ring2 {
    border: 10px solid #0085c7;
    border-radius: 50%;
    border-width: 50%;
}

#ring3 {
    border: 10px solid #0085c7;
    border-radius: 50%;
    border-width: 50%;
}

#ring4 {
    border: 10px solid #0085c7;
    border-radius: 50%;
    border-width: 50%;

}

#ring5 {
    border: 10px solid #0085c7;
    border-radius: 50%;
    border-width: 50%;

}